body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #000000b8;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
}

li {
  margin: 10px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  background-color: #000000b8;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
